

<div class="container pt-3" style="margin-top: 20px">
    <div class="row justify-content-sm-center">
      <div class="col-sm-10 col-md-5">
        <div class="card border-info">
          <div class="card-header">Formulario de contacto</div>
          <div class="card-body">
              
            <form method="POST" action="https://formspree.io/virtualfreshshop@gmail.com">
                <input type="text" name="text" placeholder="Nombre" class="form-control mb-2" required>
                <input type="email" name="email" placeholder="Email" class="form-control mb-2" required>
                <textarea name="message" placeholder="Tu mensaje" class="form-control mb-2" required></textarea>
                <input type="submit" class="btn btn-lg btn-primary btn-block mb-2" value="Contactar"/>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
